@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ProyectoFinalLab.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4 text-center">Pacientes - Mascotas ingresadas en el sistema</h1>


<!-- Formulario para filtro de búsqueda -->
<form asp-controller="Mascotas" asp-action="Index" class="mb-4">
    <div class="input-group">
        <input type="text" name="buscar" class="form-control" placeholder="Buscar mascota..." />
        <button type="submit" class="btn btn-dark">Buscar</button>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" class="text-light">FechaNacimiento</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Especie)</td>
                <td>@Html.DisplayFor(modelItem => item.Raza)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning mx-1">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info mx-1">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger mx-1">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- renderizamos controles de paginacion -->

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    UlElementClasses = new[] { "pagination", "justify-content-center" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    ActiveLiElementClass = "active",
    LinkToFirstPageFormat = "Primera",
    LinkToLastPageFormat = "Última",
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    Display = PagedListDisplayMode.Always
})
</div>
