@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<ProyectoFinalLab.Models.Citas>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-4 text-center">Turnos</h1>


<form asp-controller="Citas" asp-action="Index" class="mb-4">
    <div class="input-group">
        <input type="text" name="buscar" class="form-control" placeholder="Buscar por estado..." />
        <button type="submit" class="btn btn-dark">Buscar</button>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Motivo</th>
            <th>Estado</th>
            <th>Veterinario</th>
            <th>Mascotas</th>
            <th>Cliente</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                <td>@Html.DisplayFor(modelItem => item.Motivo)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                    <td>@item.Veterinario?.Nombre</td>
                <td>@Html.DisplayFor(modelItem => item.Mascota.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nombre)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning mx-1">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info mx-1">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger mx-1">Borrar</a>
                    
                </td>

            </tr>
        }
    </tbody>
</table>


<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    UlElementClasses = new[] { "pagination", "justify-content-center" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    ActiveLiElementClass = "active",
    LinkToFirstPageFormat = "Primera",
    LinkToLastPageFormat = "Última",
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    Display = PagedListDisplayMode.Always
})
</div>



